<div id='crmWebToEntityForm' class="zcwf_lblLeft crmWebToEntityForm">
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=UTF-8'>
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads475021000324976005 method='POST' enctype='multipart/form-data' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory475021000324976005()' accept-charset='UTF-8'>
  <input type='text' style='display:none;' name='xnQsjsdp' value='dcd65dc097f08c95ad13a67c2029d648df8c3b19bbb4d4ba61fff16c35f64aac'></input> 
  <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
  <input type='text' style='display:none;' name='xmIwtLD' value='aa428285a14d16d3368363386f65b12618dec57b45dd773bc4223726dd06df93'></input> 
  <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
  <input type='text' style='display:none;' name='returnURL' value='https&#x3a;&#x2f;&#x2f;www.mailboxdepotusa.com&#x2f;pages&#x2f;bulk-order-quote-thank-you' > </input>
  <!-- Do not remove this code. -->
  <input type='text' style='display:none;' id='ldeskuid' name='ldeskuid'></input>
  <input type='text' style='display:none;' id='LDTuvid' name='LDTuvid'></input>
  <!-- Do not remove this code. -->
  <style>
    #crmWebToEntityForm tr , #crmWebToEntityForm td { 
      padding:6px; border-spacing:0px; border-width:0px;
    }
    .zcwf_lblLeft .wfrm_fld_dpNn{display: none;}

  </style>
  <h2 class="form-sections">Contact Information</h2>
    <table class="bulk-order-box-upper">
      <tbody>
        <tr>
          <td class="parallel-inputs">
            <label for='First_Name' class="placeholder">First Name<span style='color:red;'>*</span></label>
            <input type='text' class="required-filed form-field-input" id='First_Name' name='First Name' maxlength='40'></input>                                       
          </td>
          <td class="parallel-inputs">
            <label for='Last_Name' class="placeholder">Last Name<span style='color:red;'>*</span></label>
            <input type='text' class="required-filed form-field-input" id='Last_Name' name='Last Name' maxlength='80'></input>                                       
          </td>
        </tr>
        <tr>
          <td colspan="4" class="input-fullwidth">
            <label for='LEADCF19' class="placeholder">Organization Name (e.g., Company, HOA, etc.)<span style='color:red;'>*</span></label>
            <input type='text' class="required-filed form-field-input" id='LEADCF19' name='LEADCF19' maxlength='100'></input>
          </td>
        </tr>
        <tr> 
          <td colspan="4" class="input-fullwidth">
            <label for='Email' class="placeholder">Organization Email<span style='color:red;'>*</span></label>
            <input type='text' class="required-filed form-field-input" ftype='email' id='Email' name='Email' maxlength='50'></input>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="input-fullwidth">
            <label for='LEADCF14' class="placeholder">Project Name (e.g., Community Name)</label>
            <input type='text' class="not-required form-field-input" id='LEADCF14' name='LEADCF14' maxlength='40'></input>
          </td>
        </tr>
        <tr> 
          <td colspan="4" class="input-fullwidth">
            <label for='Phone' class="placeholder">Primary Contact Phone<span style='color:red;'>*</span></label>
            <input type='text' class="required-filed form-field-input" id='Phone' name='Phone' maxlength='250'></input>
          </td>
        </tr>
        <tr> 
          <td colspan="4" class="input-fullwidth">
            <label for='Street' class="placeholder">Shipping Address<span style='color:red;'>*</span></label>
            <input type='text' class="required-filed form-field-input" id='Street' name='Street' maxlength='255'></input>
          </td>
        </tr>
        <tr> 
          <td colspan="4" class="input-fullwidth">
            <label for='Zip_Code' class="placeholder">Zip Code for Delivery<span style='color:red;'>*</span></label>
            <input type='text' class="required-filed form-field-input" id='Zip_Code' name='Zip Code' maxlength='255'></input>
          </td>
        </tr>
        <tr>
          <td colspan="4" class="input-fullwidth">
            <div style="float:left;">Send me SMS updates regarding my quote</div>
            <input checked="" type='checkbox' id='LEADCF103' name='LEADCF103' maxlength='3' style="margin-left:20px;" onclick="myFunction()"></input>
          </td>
        </tr>
        <tr id="mob" style="display: contents;"> 
          <td colspan="4" class="input-fullwidth">
            <input type='text' class="required-filed form-field-input" id='Mobile' name='Mobile' maxlength='255'></input>
            <label for='Mobile' class="placeholder">Mobile Phone<span style='color:red;'>*</span></label>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="bulk-order-box-lower">
      <h2 class="form-sections">Quote Requirements</h2>
      <div class="row">
          <div class="zsFontClass col-sm-4 col-xs-12 required-filed">Description of Quote Requirements<span style='color:red;'>*</span></div> 
          <div class="field col-sm-8 col-xs-12">
            <textarea id='Description' name='Description' rows="6" class="required-filed form-field-textarea" maxlength="1000"></textarea>
              <label for='Description' class="placeholder textarea">Mailbox Type (e.g. Multiple Tenants Per Unit) <br> Number of Tenants (e.g. 16 Tenants)<br> Color (e.g. Sandstone)<br> Additional Notes (e.g. Will need custom numbering)<span style='color:red;'>*</span></label>
          </div>
      </div>
      <div class="row">
        <div class="zsFontClass col-sm-4 col-xs-12 required-filed">Is this for an Apartment Complex?<span style='color:red;'>*</span></div> 
        <div class="field col-sm-8 col-xs-12">
          <select name="LEADCF15">
              <option value="">-None-</option>
              <option value="No">No</option>
              <option value="Yes">Yes</option>
              <option value="Yes - Installed Outdoors">Yes - Installed Outdoors</option>
              <option value="Yes - Installed Indoors">Yes - Installed Indoors</option>
          </select>
        </div>                
      </div>
      <div class="row">
        <div class="zsFontClass col-sm-4 col-xs-12 ">Returning Customer?</div>
        <div class="field col-sm-8 col-xs-12">
          <input type="checkbox" name="LEADCF102">
        </div>
      </div>
      <div class="row"> <div class="zsFontClass col-sm-4 col-xs-12">How did you hear about us?</div> 
        <div class="field col-sm-8 col-xs-12">
          <select name="LEADCF17">
              <option value="-None-">-None-</option>
              <option value="Referred by Someone">Referred by Someone</option>
              <option value="Repeat Buyer">Repeat Buyer</option>
              <option value="Google Ad">Google Ad</option>
              <option value="Google Search (non-ad result)">Google Search (non-ad result)</option>
              <option value="Bing Ad">Bing Ad</option>
              <option value="Bing Search (non-ad result)">Bing Search (non-ad result)</option>
              <option value="Social Media">Social Media</option>
              <option value="Other">Other</option>
          </select>
        </div>
      </div>
      <div class="row"> 
        <div class="zsFontClass col-sm-4 col-xs-12">File Upload (if applicable)</div> 
        <div class="col-sm-6">
            <label class="input-file">
            <b class="btn btn-primary">
                <i class="material-icons">
                  <img data-swift-lazy="1" loading="lazy" class="icon-img pricing" src="https://cdn.shopify.com/s/files/1/0609/9589/5490/files/plus-icon.png?v=1669098758" style="display: inline-block;">
                </i>
              Choose File
            </b>
            <input type='file' class='fileInput' name='theFile' id='theFile475021000324976005' multiple />
          </label>
  
        </div>
      </div>
      <div class="row"> 
        <div class="zsFontClass col-sm-4 col-xs-12">Captcha</div>
        <div class="col-sm-6 captcha">
          <label class="input-file">
<div class='zcwf_row'> <div class='zcwf_col_lab'></div>
    <div class='zcwf_col_fld'>
<div class='g-recaptcha' data-sitekey='6LcaifkZAAAAAA0GpxDZA7GnW_sVwy8agWKUW43b' data-theme='light' 
     data-callback='rccallback475021000324976005' captcha-verified='false' id='recap475021000324976005'></div>
<div  id='recapErr475021000324976005' style='font-size:12px;color:red;visibility:hidden;'>
    Captcha validation failed. If you are not a robot then please try again.</div></div></div>

          </label>
        </div>
      </div>

<div class='zcwf_row wfrm_fld_dpNn'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='LEADCF16'>Where are you in the buying process&#x3f;</label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='LEADCF16' name='LEADCF16'  >
			<option value='-None-'>-None-</option>
			<option value='Educating'>Educating</option>
		<option selected value='Shopping'>Shopping</option>
			<option value='First&#x20;Purchase'>First Purchase</option>
			<option value='Repeat&#x20;Buyer'>Repeat Buyer</option>
		</select><div class='zcwf_col_help'></div></div></div>
<div class='zcwf_row wfrm_fld_dpNn'><div class='zcwf_col_lab' style='font-size:12px; font-family: Arial;'><label for='LEADCF18'>Online Store</label></div><div class='zcwf_col_fld'><select class='zcwf_col_fld_slt' id='LEADCF18' name='LEADCF18'  >
			<option value='-None-'>-None-</option>
			<option value='BudgetMailboxes.com'>BudgetMailboxes.com</option>
			<option value='MailboxWorks.com'>MailboxWorks.com</option>
			<option value='LowPriceClusterMailboxes.com'>LowPriceClusterMailboxes.com</option>
			<option value='BestPriceInTheUniverse.com'>BestPriceInTheUniverse.com</option>
			<option value='BudgetLockers.com'>BudgetLockers.com</option>
			<option value='GotItWholesale.com'>GotItWholesale.com</option>
			<option value='budgetmailboxes.com&#x2f;request-catalog'>budgetmailboxes.com&#x2f;request-catalog</option>
			<option value='Amazon'>Amazon</option>
		<option selected value='MailboxDepotUSA.com'>MailboxDepotUSA.com</option>
		</select><div class='zcwf_col_help'></div></div></div>
                                                                                                                          
                                                                                                        
  
      <div class="row button"> 
        <div class="col-sm-4" style="text-align:center;font-size:12px;"></div>
        <div class="col-sm-8" style="font-size:12px;">
          <input type='submit' id='formsubmit' class='formsubmit quote-form-submit-button ' value='Submit Your Quote Request' title='Submit'>
        </div>
      </div>
      <div class="row terms-conditions"> 
        <div class="col-sm-12" style="font-size: 14px;padding-top: 15px;">
          <p>By submitting your quote request, you agree to our <a href="https://mailboxdepotusa.com/pages/terms-and-conditions" target="_blank">Terms and Conditions</a> and <a href="https://mailboxdepotusa.com/pages/privacy-policy" target="_blank">Privacy Policy.</a></p>
          <p>California residents: <a href="https://mailboxdepotusa.com/pages/notice-at-collection" target="_blank">Click Here</a> to see what data we collect. For instructions on how to opt out of personal data collection, <a href="https://mailboxdepotusa.com/pages/opt-out" target="_blank">please Click Here.</a></p>
        </div>
      </div>
    </div>
   <script>

  /* Do not remove this code. */
 	function rccallback475021000324976005()
	{
		if(document.getElementById('recap475021000324976005')!=undefined){
			document.getElementById('recap475021000324976005').setAttribute('captcha-verified',true);
		}
		if(document.getElementById('recapErr475021000324976005')!=undefined && document.getElementById('recapErr475021000324976005').style.visibility == 'visible' ){
			document.getElementById('recapErr475021000324976005').style.visibility='hidden';
		}
	}
	function reCaptchaAlert475021000324976005()
	{
		var recap = document.getElementById('recap475021000324976005');
		if( recap !=undefined && recap.getAttribute('captcha-verified') == 'false')
		{
			document.getElementById('recapErr475021000324976005').style.visibility='visible';
			return false;
		}
		return true;
	}
	function validateEmail475021000324976005()
	{
		var form = document.forms['WebToLeads475021000324976005'];
		var emailFld = form.querySelectorAll('[ftype=email]');
		var i;
		for (i = 0; i < emailFld.length; i++)
		{
			var emailVal = emailFld[i].value;
			if((emailVal.replace(/^\s+|\s+$/g, '')).length!=0 )
			{
				var atpos=emailVal.indexOf('@');
				var dotpos=emailVal.lastIndexOf('.');
				if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length)
				{
					alert('Please enter a valid email address. ');
					emailFld[i].focus();
					return false;
				}
			}
		}
		return true;
	}

 	  function checkMandatory475021000324976005() {
		var mndFileds = new Array('First Name','Last Name','Email','Phone','Street','Zip Code','Description','LEADCF15','LEADCF19');
		var fldLangVal = new Array('First\x20Name','Last\x20Name','Email','Phone','Shipping\x20Street','Zip\x20Code\x20for\x20Delivery','Description\x20of\x20Quote\x20Requirements','Is\x20this\x20for\x20an\x20Apartment\x20Complex\x3F','Organization\x20Name\x20\x28e.g.,\x20Company,\x20HOA,\x20etc.\x29');
		for(i=0;i<mndFileds.length;i++) {
		  var fieldObj=document.forms['WebToLeads475021000324976005'][mndFileds[i]];
		  if(fieldObj) {
			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
			 if(fieldObj.type =='file')
				{ 
				 alert('Please select a file to upload.'); 
				 fieldObj.focus(); 
				 return false;
				} 
			alert(fldLangVal[i] +' cannot be empty.'); 
   	   	  	  fieldObj.focus();
   	   	  	  return false;
			}  else if(fieldObj.nodeName=='SELECT') {
  	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
				alert(fldLangVal[i] +' cannot be none.'); 
				fieldObj.focus();
				return false;
			   }
			} else if(fieldObj.type =='checkbox'){
 	 	 	 if(fieldObj.checked == false){
				alert('Please accept  '+fldLangVal[i]);
				fieldObj.focus();
				return false;
			   } 
			 } 
			 try {
			     if(fieldObj.name == 'Last Name') {
				name = fieldObj.value;
 	 	 	    }
			} catch (e) {}
		    }
		}
		if(!validateFileUpload475021000324976005()){return false;}

		trackVisitor475021000324976005();
		if(!validateEmail475021000324976005()){return false;}
		
		if(!reCaptchaAlert475021000324976005()){return false;}
		document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
	}

	function validateFileUpload475021000324976005(){
		 var uploadedFiles = document.getElementById('theFile475021000324976005'); 
		 var totalFileSize =0; 
		 if(uploadedFiles.files.length >3){ 
			 alert('You can upload a maximum of three files at a time.'); 
			 return false; 
		 } 
		 if ('files' in uploadedFiles) { 
			 if (uploadedFiles.files.length != 0) { 
				 for (var i = 0; i < uploadedFiles.files.length; i++) { 
					 var file = uploadedFiles.files[i]; 
					 if ('size' in file) { 
						 totalFileSize = totalFileSize + file.size; 
					 } 
				 } 
				 if(totalFileSize > 20971520){ 
					 alert('Total file(s) size should not exceed 20MB.'); 
					 return false; 
				 } 
			 } 
		 } 
		 return true; 
	 }
function tooltipShow475021000324976005(el){
	var tooltip = el.nextElementSibling;
	var tooltipDisplay = tooltip.style.display;
	if(tooltipDisplay == 'none'){
		var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
		for(i=0; i<allTooltip.length; i++){
			allTooltip[i].style.display='none';
		}
		tooltip.style.display = 'block';
	}else{
		tooltip.style.display='none';
	}
}
</script><script type='text/javascript' id='VisitorTracking'>var $zoho= $zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:'0947064c15cca8192121d1c007f12ba5daf1f29cb4bdbe70e51c402f65ba3328bef1ad7793e59e2225f6df0985040d99', values:{},ready:function(){}};var d=document;s=d.createElement('script');s.type='text/javascript';s.id='zsiqscript';s.defer=true;s.src='https://salesiq.zoho.com/widget';t=d.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);function trackVisitor475021000324976005(){try{if($zoho){var LDTuvidObj = document.forms['WebToLeads475021000324976005']['LDTuvid'];if(LDTuvidObj){LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();}var firstnameObj = document.forms['WebToLeads475021000324976005']['First Name'];if(firstnameObj){name = firstnameObj.value +' '+name;}$zoho.salesiq.visitor.name(name);var emailObj = document.forms['WebToLeads475021000324976005']['Email'];if(emailObj){email = emailObj.value;$zoho.salesiq.visitor.email(email);}}} catch(e){}}</script>
	<!-- Do not remove this --- Analytics Tracking code starts --><script id='wf_anal' src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=aa428285a14d16d3368363386f65b12618dec57b45dd773bc4223726dd06df93giddcd65dc097f08c95ad13a67c2029d648df8c3b19bbb4d4ba61fff16c35f64aacgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513&tw=61690b96c1d0471b638f31426f38e68aa67fb7ed6da86f32dc10ad817fe55a0a'></script><!-- Do not remove this --- Analytics Tracking code ends. -->
  </form>
</div>
<script>
  function myFunction() {
    // Get the checkbox
    var checkBox = document.getElementById("LEADCF103");
    // Get the output text
    var text = document.getElementById("mob");
  
    // If the checkbox is checked, display the output text
    if (checkBox.checked == true){
      text.style.display = "contents";
    } else {
      text.style.display = "none";
    }
  } 

  //Optional code to show the file names
   
      $('.fileInput').change(function() {
        var numfiles = $(this)[0].files.length;
        var parent = $(this).closest('.input-file');
        parent.find('ins').remove();
        for (i = 0; i < numfiles; i++) { 
          parent.append('<ins>' + $(this)[0].files[i].name + '</ins>')
        }
      });
      $("input, textarea").focus(function(){
          $(this).siblings('.placeholder, .placeholder-notrequired').hide();
      });
      $( "input, textarea" ).focusout(function() {
      if (this.value) {
         $(this).siblings('.placeholder, .placeholder-notrequired').hide(); 
      } else {
          $(this).siblings('.placeholder, .placeholder-notrequired').show();
      }
      });
  
      $( "input.form-field-input, textarea.form-field-textarea" ).each(function( index ) {
          if (this.value) {
              $(this).siblings('.placeholder, .placeholder-notrequired').hide(); 
          } else {
              $(this).siblings('.placeholder, .placeholder-notrequired').show();
          }
      });
  
  
      jQuery( ".placeholder, .placeholder-notrequired" ).click(function() {
        jQuery(this).hide();
        jQuery(this).siblings('input, textarea').focus();
      });
   
</script>