<section class="about-image-text container">
  {% if section.settings.image != blank %}
  <div class="img-box">
    <img data-swift-lazy="1" loading="lazy" src="{{ section.settings.image | img_url:'original' }}">
  </div>
  {% endif %}
  {% if section.settings.heading != blank %}
  <h2 class="heading">{{section.settings.heading}}</h2>
  {% endif %}
  {% if section.settings.detail != blank %}
  <p class="detail">{{section.settings.detail}}</p>
  {% endif %}
</section>

{% schema %}
  {
    "name": "About image text",
    "settings": [{
	"type":"image_picker",
	"id": "image",
	"label" : "Image"
},
{
	"type":"text",
	"id": "heading",
	"label" : "Heading"
},
{
	"type":"richtext",
	"id": "detail",
	"label" : "Detail"
}

],
"presets":[{
 "name": "About image text",
    "category": "About page"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
