{% comment %} {% section 'breadcrumb' %}
{%- section 'custom-collection' -%}
<div class="container">
{% if collection.description != blank %}
        <div class="collection-main-banner" style="padding: 0 10px">   
           {{ collection.description }} 
        </div>
  {% endif %}
</div> {% endcomment %}